<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/Home.css">
    <link rel="stylesheet" href="/public/customCSS/common.css">

    <title>Water-Delivery</title>
  </head>
  <body>
     
    <div class="container-fluid">
          <div class="row box">
              <div class="col">
                <div class="row"><a href="login" class="mybuttonOne text-center rounded-lg shadow-sm bg-light pt-1">Login</a></div>
                <div class="row"><a href="register" class="mybuttonTwo text-center rounded-lg shadow-sm bg-light pt-1">Register</a></div>
              </div>
          </div>
    </div>
  
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
  </body>
</html>