<!DOCTYPE html>
<html>
    <head>
        <title>Water-Delivery</title>
    </head>
<body>
    <h1>User Home Page</h1>

    <table>
        <th>Product Pic</th>
        <th>Product Name</th>
        
        <% for(i = 0; i < result.length; i++){ %>
         
            <tr>
                <td>Sample Pic</td>
                <td>Bislery</td>
            </tr>

        <% } %>
        
    </table>

    <button>Driking</button>
    <button>Domestic</button%= result%>
</body>
</html>