body
{
    background-color:#EFF2F5;
}

.mybuttonOne{
    margin-top: 60vh;
    font-size: 18px;
    background: white;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 140px;
    height: 38px;
    font-weight: 600;
    border: none;
    margin-left:auto;
    margin-right: auto;
}

.mybuttonTwo{
    margin-top: 30.5px;
    font-size: 18px;
    background:white;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    width: 140px;
    height: 38px;
    font-weight: 600;
    border: none;
    margin-left:auto;
    margin-right: auto;
}

.container-fluid{
   background-color:#EFF2F5;
   margin:0;
   padding:0;
}

.box{
    margin:auto;
    padding:0;
    background-color: #EFF2F5;
    height: 100vh;
    width: 360px;
}

